table, td, th{
  overflow-x:auto;
  border-collapse: collapse;
  border: 1px solid black;
}

td{
  text-align: center;
}

td.weekday{
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  left: 0px;
}

td.weekday-last{
  writing-mode: vertical-rl;
}

.pos-sticky{
  position: sticky;
  background: white;
  z-index: 100;
}